:root {
    --primary-color: #000000;
    --font-family-heading: 'Secular One', sans-serif;
    --font-family-body: 'Roboto', sans-serif;
}

/* algemene body styling */
body {
    margin: 0 auto;
    width: 47vw;
    background-image: url('../img/wit.jpg');
    background-attachment: fixed;
}

/* algemene h1 styling */
h1 {
    color: var(--primary-color);
    font-family: var(--font-family-heading);
    font-weight: bold;
    text-align: center;
}
/* algemene h2 styling */
h2 {
    font-family: var(--font-family-body);
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
/* algemene h3 styling */
h3 {
    display: none;
}

/* algemene p styling */
p {

    height: 15em;
    font-family: var(--font-family-body);
}

/* algemene afbeelding styling */
img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 5em;
}

/* algemene button styling */
button {
    background-color: black;
    color: white;
    padding: 1em 2.5em;
    border-radius: .1em;
    font-family: var(--font-family-heading);
    font-weight: bold;

}

/* Styling voor de h1 op de quotes.html*/
.logo {
    color: var(--primary-color);
    font-family: var(--font-family-heading);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

/* Styling voor de h2 op de quotes.html*/
.anders {
    font-size: 1em;
    padding: 0;
    margin-top: -0.1em;
    font-family: var(--font-family-body);
    text-align: center;
    margin-bottom: 3em;
}

/* Styling voor de button op de quotes.html*/
.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

#quoteText{
    text-align: center;
}
/* Styling voor de start button op index.html*/
#normal {
    position: relative;
    top: 10em;
    left: .5em;
    padding: 2em 3.5em;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: .1em;
    font-family: var(--font-family-heading);
    text-decoration: none;

}

/* Styling voor de tekst, als de tekst van gekopieerd is of niet*/
#message {
    position: absolute;
    bottom: 10em;
    right: 5em;
    font-size: 15px;
    font-family: var(--font-family-body);
    display: none;
}
  #message.show {
    display: block;
  }


/* Styling voor de offline bericht*/
#offlineMessage {
    display: none;
}
  
  #offlineMessage.show {
    display: block;
  }
  