
body{
    background-image: url("/img\ /wit.jpg");
    background-attachment: fixed;
    width: 47vw; 
    margin: 0 auto; 
}

h1{
    font-family: 'Secular One', sans-serif;

}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

h1, h2{
    text-align: center;
    color: #000000;
   
}
p{
    font-family: 'Roboto', sans-serif;
    height: 15em;
}

img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 5em;

}

.logo{
    /* hier komt mijn h1 voor index.html */
}


.anders{
    /* hier komt mijn h2 voor index.html */
    font-size: 1em;
    padding: 0;
    margin-top: -10px;
}


button{
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: solid 5px black;
    font-family: 'Secular One', sans-serif;

}
#normal{
    /* hier komt mijn button voor index.html */
    position: relative;
    top: 10em;
    padding: 35px 60px;
    font-size: 1em;
    font-weight: bold;

}



#message {
    position: absolute;
    bottom: 13em;
    right: 5em;
   /* padding: 2em; */
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.btns{
    /* hier komt mijn button voor quote.html */
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 1em;
}

#quoteBtn{
    /* hier komt mijn button voor quote.html */

}

#copyBtn{
    /* hier komt mijn button voor quote.html */
}


#loadingState {
    display: none;
    text-align: center;
    margin-top: 20px;
  }
  
  #loadingState img {
    width: 100px;
    height: 100px;
  }
  